variable declaration

In [1]:
a=34
print(a)

34

In [5]:
a=12
b=23
c=34
d=45

print(a)
print(b)
print(c)
print(d)

12
23
34
45

In [7]:

name='elseveir'
print('hello',name)  # , is concatenation

hello elseveir

In [8]:
print('hello'+ ' '+name) # here am printing the value

'''dfjsgfhjghj
gfhkjdsfdsfkdsf
fkjsydfkjdsgfdsg'''

hello elseveir

In [9]:
a=10
b=2.3
c='hello'
d="hi"

print(a)
print(b)
print(c)
print(d)

10
2.3
hello
hi

In [ ]:
datatypes :

number - int , decimal or float
string = '' or ""
boolena

In [ ]:
single line comment - #
multi line comment  = ''' ''' or """ """

In [15]:
a=223
b=34.4
c='hi'
d="hello"


#typeof

a1=type(d)
a1

str

In [16]:
print(type(a))

<class 'int'>

multiple variable declaration

In [17]:
a,b,c=10,20,30

print(a)
print(b)
print(c)

10
20
30

In [ ]:
a=23
declaration
assign
definition

In [18]:
z
print(z)

NameError: name 'z' is not defined

In [19]:
a=b=c=10
print(a,b,c)

10 10 10

type casting

In [21]:
a=23

print(a)

b=float(a)

print(b)
print(type(b))

23
23.0
<class 'float'>

In [24]:
a=4.6
print(type(a))

b=int(a)
print(b)
print(type(b))

<class 'float'>
4
<class 'int'>

In [28]:
a="10"

print(type(a))


b=int(a)

print(type(b))
print(b)

<class 'str'>
<class 'int'>
10

printing in python

In [30]:
name = 'sachin'
course='python'
rank = 1

# sachin studied python and got 1 rank 

print(name,'studied',course,'and got',rank,'rank')

sachin studied python and got 1 rank

In [ ]:
operators

In [35]:
a=10
b=2

c=a/b
print(c)

5.0

In [36]:
a=10
b=3


c=a%b # modulo operator

print(c)

1

In [40]:
a=9
b=2
c=a//b
print(float(c)) # floor operator

4.0

In [41]:
a=10
b=3
c=a**b
print(c) # exponenial

1000

In [ ]:
a=10
b=3
a==b

In [ ]:
assignment operator

In [42]:
a=10
b=a+4
print(b)

14

In [43]:
a=10
a+=4
print(a)

14

In [48]:
a=200
b=200

if a>b:
    print('a is bigger')
elif a==b:
    print('a and b are equal')
else:
    print('b is bigger')

a and b are equal

In [ ]:
nested if

In [51]:
num = -34

if num>=0:
    if num==0:
        print('zero numer')
    else:
        print('positive number')
else:
    print('negative number')

negative number

In [ ]:
# input reading

In [54]:
a= input('enter your name:')
print('mrs',a)

enter your name: vishnu priya

mrs vishnu priya

In [59]:
a= float(input('enter a value:'))
b=int(input('enter b value:'))
c=a+b
print(c)

enter a value: 4.5
enter b value: 5

9.5

In [56]:
type(a)

str

In [ ]:
int - accept int
float - int , float both will be accepted

In [62]:
a=210
b=34
c=45

if a>b and a>c:
    print('a is bigger')

a is bigger