# Dictionary Hard Questions

In [ ]:
1. Write a Python program to get the maximum and minimum value from a dictionary. 
    Data:
        d1 = {'x':500, 'y':5874, 'z': 560}
    Expected Output:
        Maximum Value:  5874
        Minimum Value:  500

In [ ]:
2. Write a Python program to remove duplicate key value from the given dictionary.
    Data:
        student_data = {'id1': 
   {'name': ['Boss'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['Suresh'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Siva'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['Suresh'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}
    Expected Output:
        {'id1': {'name': ['Boss'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 
         'id2': {'name': ['Suresh'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 
         'id3': {'name': ['Siva'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 
         'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
3. Write a Python program to create a dictionary from two lists without losing duplicate values.
    Data:
        lists: ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
    Expected Output:
        defaultdict(<class 'set'>, {'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {2}, 'Class-VIII': {3}})

In [ ]:
4. Write a Python program to replace dictionary values with their average.
    Data:
        student= [
                   {'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},
                   {'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},
                   {'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}
                                                                       ]
    Expected Output:
        [{'id': 1, 'subject': 'math', 'V+VI': 76.0}, 
         {'id': 2, 'subject': 'math', 'V+VI': 73.5}, 
         {'id': 3, 'subject': 'math', 'V+VI': 80.5}]

In [ ]:
5. Write a Python program to store a given dictionary in a json file.
    Data:
        d = {'students': [{'firstName': 'Boss', 'lastName': 'King'}, 
                  {'firstName': 'Siva', 'lastName': 'Raj'}, 
                  {'firstName': 'suresh', 'lastName': 'kumar'}], 
            'teachers': [{'firstName': 'Kumar', 'lastName': 'Samy'},
                   {'firstName': 'Dinesh', 'lastName': 'Kumar'}]}
    Expected Output:
        The output displayed from json file.
        {'students': [{'firstName': 'Boss', 'lastName': 'King'}, 
                      {'firstName': 'Siva', 'lastName': 'Raj'}, 
                      {'firstName': 'suresh', 'lastName': 'kumar'}],
         'teachers': [{'firstName': 'Kumar', 'lastName': 'Samy'}, 
                      {'firstName': 'Dinesh', 'lastName': 'Kumar'}]}

In [ ]:
6. Write a Python program to convert more than one list to nested dictionary. 
    Data:
        student_id = ["R1", "R2", "R3", "R4"] 
        student_name = ["Saravana", "Shreya", "Shakthi", "Shwetha"] 
        student_grade = [85, 98, 89, 92]
    Expected Output:
        Nested dictionary:
            [{'R1': {'Saravana': 85}}, {'R2': {'Shreya': 98}}, {'R3': {'Shakthi': 89}}, {'R4': {'Shwetha': 92}}]

In [ ]:
7. Write a Python program to filter those students whose height > 5.5 and weight > 65 from the given dictionary.
    Data:
        {'Varun': (6.2, 70), 'Tharun': (5.9, 60), 'Arun': (6.0, 68), 'Suran': (5.8, 66)}
    Expected Output:  
        Height > 5.5 and weight > 65:
            {'Varun': (6.2, 70), 'Arun': (6.0, 68), 'Suran': (5.8, 66)}

In [ ]:
8. Write a Python program to check all values in a dictionary are same.
    Data:
        {'dinesh': 12, 'boss': 12, 'siva': 12, 'suresh': 12}
    Expected Output:   
        Check all are  12 in the dictionary.
        True
        Check all are  10 in the dictionary.
        False

In [ ]:
9. Write a Python program to extract a list of values from a specified key('Maths'), from a given list of dictionaries.
    Data:
        [{'Math': 90, 'Science': 92}, {'Math': 89, 'Science': 94}, {'Math': 92, 'Science': 88}]
    Expected Output:
        Extract a list of values from said list of dictonaries where subject =  Math[90, 89, 92]

In [ ]:
10. Write a Python program to find the length of each value in a dictionary and display the value and length of the value in a separate dictionary.
    Data:
        color = {1 : 'red', 2 : 'green', 3 : 'black', 4 : 'white', 5 : 'black'}
        name = {'1' : 'Boss', '2' : 'Siva', '3' : 'Suresh', '4' : 'Kumar'}
    Expected Output:
        length of dictionary values:
        {'red': 3, 'green': 5, 'black': 5, 'white': 5}
        {'Boss': 4, 'Siva': 4, 'Suresh': 6, 'Kumar': 5}

In [ ]:
11. Write a Python program to convert a given dictionary into a list of lists.
    Data:
        color = {1 : 'red', 2 : 'green', 3 : 'black', 4 : 'white', 5 : 'black'}
        name = {'1' : 'Boss', '2' : 'Siva', '3' : 'Suresh', '4' : 'Kumar'
    Expected Output:
        Convert the said dictionary into a list of lists:
        [[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]
        [['1', 'Boss'], ['2', 'Siva'], ['3', 'Suresh'], ['4', 'Kumar']]

In [ ]:
12. Write a Python program to filter even numbers from a given dictionary values.
    Data:
        students = {'V' : [1, 4, 6, 10], 'VI' : [1, 4, 12], 'VII' : [1, 3, 8]} 
        students = {'V' : [1, 3, 5], 'VI' : [1, 5], 'VII' : [2, 7, 9]} 
    Expected Output:
        Filter even numbers from said dictionary values:
        {'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
        {'V': [], 'VI': [], 'VII': [2]}

In [ ]:
13. Write a python function to return the keys from a dictionary. The function should take two arguments, 
                a list and a number of highest values to be displayed.
    Data:
        dictt = {'a':5, 'b':14, 'c': 32, 'd':35, 'e':24, 'f': 100, 'g':57, 'h':8, 'i': 100}
    Expected Output:
        When n = 2,
        Top 2 highest values' key are: ['f', 'i']
        Top 5 highest values' key are: ['f', 'i', 'g', 'd', 'c']

In [ ]:
14. Write a Python function to return the keys of shortest list of values from the given dictionary.
    Data:
        {'V': [10, 12], 'VI': [10], 'VII': [10, 20, 30, 40], 'VIII': [20], 'IX': [10, 30, 50, 70], 'X': [80]}
    Expected Output:
        Keys of shortest list of values are: ['VI', 'VIII', 'X']

In [ ]:
15. Write a python program to count the frequency of values from a given dictionary. 
                    Print the values and its count as a separate dictionary.
Write a Python program to count the frequency in a given dictionary.
    Data:
        {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
    Expected Output:
        Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

In [ ]:
16. Write a Python program to extract values from a given dictionaries and create a list of lists from those values.
    Data:
        students = [
        {'student_id': 1, 'name': 'Basakr', 'class': 'V'}, 
        {'student_id': 2, 'name': 'Suresh', 'class': 'V'},
        {'student_id': 3, 'name': 'Siva', 'class': 'VI'}, 
        {'student_id': 4, 'name': 'Karthi', 'class': 'VI'}, 
        {'student_id': 5, 'name': 'Dinesh', 'class': 'VII'}
        ]
    Expected Output:
         [[1, 'Basakr', 'V'], [2, 'Suresh', 'V'], [3, 'Siva', 'VI'], [4, 'Karthi', 'VI'], [5, 'Dinesh', 'VII']]
         [[1, 'Basakr'], [2, 'Suresh'], [3, 'Siva'], [4, 'Karthi'], [5, 'Dinesh']]
         [['Basakr', 'V'], ['Suresh', 'V'], ['Siva', 'VI'], ['Karthi', 'VI'], ['Dinesh', 'VII']]

In [ ]:
17. Write a Python program to convert a given list of lists into a dictionary.
    Data:
        students = [[1, 'Basakr', 'V'], [2, 'Suresh', 'V'], [3, 'Siva', 'VI'], [4, 'Karthi', 'VI'], [5, 'Dinesh', 'VII']]
    Expected Output:
        {1: ['Basakr', 'V'], 2: ['Suresh', 'V'], 3: ['Siva', 'VI'], 4: ['Karthi', 'VI'], 5: ['Dinesh', 'VII']}

In [ ]:
18. Write a Python program to print the total length of all values of a given dictionary.
    Data:
        name = {'#FF0000':'Boss', '#800000':'Siva', '#FFFF00':'Kumar', '#808000':'Suresh'}
    Expected Output:
        Total length of all values of the said dictionary: 19

In [ ]:
19. Write a Python program to check whether a specified Key and a value exists in a dictionary. Return True if present, false if not.
    Data:
         students = [
        {'student_id': 1, 'name': 'Basakr', 'class': 'V'}, 
        {'student_id': 2, 'name': 'Suresh', 'class': 'V'},
        {'student_id': 3, 'name': 'Siva', 'class': 'VI'}, 
        {'student_id': 4, 'name': 'Karthi', 'class': 'VI'}, 
        {'student_id': 5, 'name': 'Dinesh', 'class': 'VII'}
        ]
    Expected Output:
            Check if a specific Key and a value exist in the said dictionary:
                True
                False
                True
                False
                False
                False

In [ ]:
20. Write a Python program to check all values are same in a dictionary.
    Data:
        {'dinesh': 45, 'boss': 45, 'siva': 45, 'suresh': 45}
    Expected Output:
        Check all are  12 in the dictionary.
        False
        Check all are  45 in the dictionary.
        True